{% extends 'base.html' %}

<script>
{% block jquery %}
var endpoint = '/api/chart/historical/'
var defaultData = []
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        defaultData = data.values
        defaultLabels = data.labels
        defaultID = data.user_id
        console.log(data)
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})


Chart.pluginService.register({
    beforeDraw: function (chart, easing) {
        if (chart.config.options.chartArea && chart.config.options.chartArea.backgroundColor) {
            var helpers = Chart.helpers;
            var ctx = chart.chart.ctx;
            var chartArea = chart.chartArea;

            ctx.save();
            ctx.fillStyle = chart.config.options.chartArea.backgroundColor;
            ctx.fillRect(chartArea.left, chartArea.top, chartArea.right - chartArea.left, chartArea.bottom - chartArea.top);
            ctx.restore();
        }
    }
});

function setChart(){
    var ctx = document.getElementById("myChart")
    var myChart = new Chart(ctx, {
    type: 'line',
      data: {
        labels: defaultLabels,
        datasets: [{ 
            label: defaultID,
            data: defaultData,
            borderColor: "#3e95cd",
            fill: false,
            pointRadius: 0,
          },
        ]
      },
      options: {
        title: {
            display: true,
            text: 'ECG Data for ',
            chartArea: {
            backgroundColor: 'rgba(251, 85, 85, 0.4)'
            }
        },
        scales: {
            yAxes: [{
                ticks: {
                    suggestedMin: 900,
                    suggestedMax: 1000
                },
                gridLines: {
                    display: false
                }
            }],
            xAxes: [{
                display: false 
            },
        ]
        },
      }
    });
}


{% endblock %}
</script>

{% block content %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<div class='row'>
    <div class='col-sm-12'>
        <h1>Historical ECG Trace</h1>
        <div class='col-sm-6'>
            <canvas id="myChart" width="1000" height="1000"></canvas>
        </div>
    </div>
</div>
</html>

{% endblock content %}