<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HeartAgain</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <img id="homelogo" src="base/heartagainlogo.png" />
        </div>
        <div class="row" id="homenav" style="text-align:center">
            <button id="homenavbutton" style="margin-left:5px;">Live Monitoring</button>
            <button id="homenavbutton" style="margin-right:5px;">Data History</button>
        </div>
        </div>
    </div>
</body>
</html>